pragma solidity ^0.8.13;

import {Test, console} from "forge-std/Test.sol";
import { {{ .ContractName }} } from "../src/{{ .FileName }}";

contract {{ .ContractName }}Test is Test {
    {{ .ContractName }} public myContract;
    function setUp() public {
        myContract = new {{ .ContractName }}();
    }
    {{ .Test }}
}
